<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>​
    <img id="cardOne"  src="static/card_back.jpg" width="100px">
    <img id="cardTwo" src="static/card_back.jpg" width="100px"><br>
    <img id="cardThree" src="static/card_back.jpg" width="100px">
    <img id="cardFour" src="static/card_back.jpg" width="100px">


    <script src="http://code.jquery.com/jquery.js"></script>
    <script>
    //TODO: make a list of clickable cards. if they are clicked, add the clicked class to them. if they don't match, flip back over and reset everything. if they match, remain flipped and prevent further clicks (like by checking it has the class clicked and removing it from the clickable list, and using clickable as determinant of being allowed to click the cards), from affecting the counting.

    // var imageBank = ['static/card_face1.jpg', 'static/card_face2.jpg']
    var answerKey = {};
    var turn = 0
    var cardOneImg = "static/card_face1.jpg";
    var cardTwoImg = "static/card_face2.jpg";
    var cardThreeImg = "static/card_face1.jpg";
    var cardFourImg = "static/card_face2.jpg";
    var clickable = ["cardOne", "cardTwo", "cardThree", "cardFour"];

    function clickCard(evt){
        var cardClass = $(this).attr("class");
        console.log(cardClass);
        if (cardClass != "clicked"){
        //if this clicked card is in clickable or does not have the class clicked
            turn++;
            console.log("Turn: ", turn);
            $(this).addClass("clicked");
            var cardID = $(this).attr("id");
            console.log(cardID, cardClass);
            var cardID = $(this).attr("id");

            // eventually, need to make flip more pseudo-random than this
            // e.g. var cardFace = imageBank.pop();
            // console.log('cardface is ' + cardFace);

            if (cardID == "cardOne"){
                $(this).attr("src", cardOneImg);
            } else if (cardID == "cardTwo"){
                $(this).attr("src", cardTwoImg);
            } else if (cardID == "cardThree"){
                $(this).attr("src", cardThreeImg);
            } else if (cardID == "cardFour"){
                $(this).attr("src", cardFourImg);
            };
            // add click values (two clicks) to dictionary
            // if turn is even, means can compare two cards.
            if (turn % 2 != 0){
                user_click1 = cardID;
                answerKey[user_click1] = $(this).attr("src");
            } else if (turn % 2 == 0) {
                user_click2 = cardID;
                answerKey[user_click2] = $(this).attr("src");
                compareCards();
            };
            // imageBank = ['static/card_face1.jpg', 'static/card_face2.jpg']
            // console.log('image bank is ' + imageBank);
        } else {
            // alert("You already clicked that!");
            turn--;
        }
    };
    
    $('img').click(clickCard);

    // probably will need to compare things in dict, empty after each two things is compared

    //while an array does not contain cardOne, cardTwo, cardThree, and cardFour (to be added above)
    // if they match, leave them flipped
    // if not, flip them back
    // eventually, need to disable clicking on same two cards, or just use list includes all four
    //add clicked on class when clicking, so disable doing anything when has that class
    // for now, maybe define var for two card images, and then use conditionals to generate based on id (1 and 4 always high priestess, 2 and 3 always hermit)
    // could do in clicked card function if class of card clicked is priestess, display priestess, etc.
    //need a matching class, not clickable
    var listOfClickedCards = [];

    function compareCards(){
        var dict_length = Object.keys(answerKey).length;
        console.log(dict_length);
        if (dict_length == 2){
            console.log(answerKey[user_click1]);
            console.log(answerKey[user_click2]);
            var cardIDs = Object.keys(answerKey);
            if (answerKey[user_click1] == answerKey[user_click2]){
                listOfClickedCards.push.apply(listOfClickedCards, Object.keys(answerKey));
                // listOfClickedCards = Object.keys(answerKey);
                console.log(listOfClickedCards);
                answerKey = {};

                containAll = containsAll(['cardOne', 'cardTwo', 'cardThree', 'cardFour'], listOfClickedCards);


                console.log("contains" + containAll)
                console.log("clickable before: " + clickable);
                var removeClicked1 = clickable.indexOf(cardIDs[0]);
                var removeClicked2 = clickable.indexOf(cardIDs[1]);

                if (containAll){
                    alert("Found all matching pairs in " + turn/2 + " turns!");
                } else {
                    alert("Found one match!");
                    delete clickable[removeClicked1];
                    delete clickable[removeClicked2];
                    console.log("clickable after: " + clickable);

                }
            } else {
                // alert("no match!");
                console.log("no match!");
                // get click1 and click2 IDs,
                // use those to replace the src of those elements with those IDs
                // var cardIDs = Object.keys(answerKey)
                console.log("card IDs " + cardIDs);
                var firstClickCardID = ("#" + cardIDs[0]);
                var secondClickCardID = ("#" + cardIDs[1]);
                // $(firstClickCardID).attr("src", "static/card_back.jpg");
                //maybe need to set a timeout, call a sep fxn with timeout
                // setTimeout(flipBack(secondClickCardID), 6000);
                flipBack(firstClickCardID, secondClickCardID);
                //remove class clicked
                $(firstClickCardID).removeClass("clicked");
                $(secondClickCardID).removeClass("clicked");

                // $(secondClickCardID).attr("src", "static/card_back.jpg");
                answerKey = {};
                // turn = 0;
            }
        }
    };

    function flipBack(card1ID, card2ID){
        setTimeout(function () {
            // console.log("hi");
            $(card1ID).attr("src", "static/card_back.jpg");
            $(card2ID).attr("src", "static/card_back.jpg");
        }, 1500);
    };

    function containsAll(needles, haystack){ 
      for(var i = 0 , len = needles.length; i < len; i++){
         if($.inArray(needles[i], haystack) == -1) return false;
      }
      return true;
    };
    </script>
</body>
</html>